@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в API вашего дома!</h1>
    <p>Основная информация о доме:</p>
    
    <div class="text-left mt-4">
        <p><strong>Количество этажей:</strong> @ViewBag.HomeOptions.FloorAmount</p>
        <p><strong>Стационарный телефон:</strong> @ViewBag.HomeOptions.Telephone</p>
        <p><strong>Тип отопления:</strong> @ViewBag.HomeOptions.Heating</p>
        <p><strong>Напряжение электросети:</strong> @ViewBag.HomeOptions.CurrentVolts</p>
        <p><strong>Подключен к газовой сети:</strong> @ViewBag.HomeOptions.GasConnected</p>
        <p><strong>Жилая площадь:</strong> @ViewBag.HomeOptions.Area м²</p>
        <p><strong>Материал:</strong> @ViewBag.HomeOptions.Material</p>
        <p><strong>Адрес:</strong> @ViewBag.HomeOptions.Address.Street @ViewBag.HomeOptions.Address.House/@ViewBag.HomeOptions.Address.Building</p>
    </div>
    
    <p class="mt-4">Вы также можете посмотреть API документацию <a href="/swagger">здесь</a>.</p>
</div>